<div class="py-4 mb-2">
  <h3 class="d-inline-block">Experiences</h3>
  <div class="float-right">
    <%= linkTo(newExperiencesPath(), {class: "btn btn-primary"}) { %>
      Create New Experience
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    <th>Title</th><th>Description</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (experience) in experiences { %>
      <tr>
        <td class="align-middle"><%= experience.Title %></td><td class="align-middle"><%= experience.Description %></td>
        <td>
          <div class="float-right">
            <%= linkTo(experiencePath({ experience_id: experience.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editExperiencePath({ experience_id: experience.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(experiencePath({ experience_id: experience.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
